.mtg-card {
    border-radius: 15px;
    overflow: hidden;
}

.mtg-card_image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

/*.mtg-cards-wrapper {*/
/*    min-height: 2000px !important;*/
/*}*/

img[alt="www.000webhost.com"] {
  display: none;
}

header {
    transition: 0.25s all;
}

#search_group {
    border-radius : 0.25rem;
    transition: 0.25s all;
}

header.shrink {
    /*max-width: 100%;*/
}

.starcity-logo {
    float: right;
    border-radius: 15px 0px;
    overflow: hidden;
    background-color: #125687;
    height: 60px;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 40px;*/
    /*line-height: 40px; !* Vertically center the text there *!*/
    background-color: #f5f5f5;
    transition: 0.25s all;
}

.collapse-wrapper > a {
    transition: 0.25s all;
}

.small-collapse-button {
    height: 20px;
    line-height: 20px;
    width: 50px;
    border-radius: 5px;
}

.fluid-collapse-button {
    width: 100%;
}