.mtg-card {
    border-radius: 15px;
    overflow: hidden;
}

.mtg-card_image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

img[alt="www.000webhost.com"] {
  display: none;
}

.starcity-logo {
    float: right;
    border-radius: 15px 0px;
    overflow: hidden;
    background-color: #125687;
    height: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
