.mtg-card {
    border-radius: 15px;
    overflow: hidden;
}

.mtg-card_image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

.starcity-logo {
    float: right;
    border-radius: 15px 0px;
    overflow: hidden;
    background-color: #125687;
    height: 60px;
}